# Node modules
node_modules/
frontend/frontend/node_modules/

# Build outputs
dist/
.next/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Misc
.DS_Store
