@import "tailwindcss";

:root {
  --background: #FAF7F2;
  --foreground: #171717;
  --font-sans: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

main {
  margin-left: 270px;
  padding: 2.5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  margin: 0;
  padding: 0;
}
